.monaco-workbench .sources-diff-panel .sources-diff-panel-header {
	display: block;
	min-width: 0;
	padding: 4px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.monaco-workbench .sources-diff-panel .sources-diff-panel-new-file-notice {
	padding: 4px 8px;
	color: var(--vscode-descriptionForeground);
}

.monaco-workbench .sources-diff-panel .sources-diff-panel-editor {
	flex: 1;
	min-width: 0;
	min-height: 0;
}

.monaco-workbench .sources-diff-panel .sources-diff-panel-body {
	display: flex;
	flex-direction: column;
	height: 100%;
}
